.card {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 12px;
    box-shadow: #e5e5e5 1px 1px 10px;
    width: 45%;

    img {
        width: 40px;
        background-color: #EFF6FF;
        padding: 0 10px;
        border-radius: 8px;
    }

    .group {
        width: 80%;

        .title {
            font-weight: 600;
            font-size: 18px;
        }

        .description {
            font-weight: 400;
            font-size: 14px;
            color: #4B5563;
        }
    }
}